<div class="item">
    <label>Imagem da receita</label>
    <input type="https" name="image_url">
</div>
<div class="item">
    <label>ingredientes</label>
    <input type="text" name="ingredients[]">
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>
<div class="item">
    <label>ingredientes</label>
    <input type="text" name="steps[]">
    <button type="button" class="add-step">Adicionar novo passo</button>
</div>
<div class="item">
    <label>informacoes adicionais</label>
    <input type="text" name="more_informations">
</div>