.admin-header {
    background-color: #111;
    height: 80px;
    width: 100%;
}

.logo-admin {
    height: 100%;
    max-width: 940px;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-admin a {
    margin: 0;
    padding: 12px;
}

.recipes-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    box-sizing: border-box;
    margin-top: 20px;
}

.recipe-admin span {
    width: 100%;
}

.form-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}
.form {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.form-details button {
    margin: 0;
}

.form-details button {
    width: 140px;
    height: 32px;
    border-radius: 4px;
    background-color: #6558c3;
    color: white;
    border: none;
    font-weight: bold;
}
.form-details button:focus {
    outline: none;
}
.form-delete {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
}

.item {
    margin: 0;
}

.item label {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.item label,
.item input {
    display: block;
    width: 100%;
}

.item input {
    margin-bottom: 15px;
    height: 24px;
    padding: 2px 8px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.form-fields button {
    padding: 4px;
    margin: 0 0 30px 0;
    font-size: 16px;
    color: #6558c3;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    width: 240px;
}

.form-fields button:focus {
    outline: none;
}

.edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    box-sizing: border-box;
}
.edit span {
    margin: 0;
}

.edit span:first-child {
    font-size: 24px;
    color: #111;
    font-weight: bold;
}

.edit span:last-child a {
    width: 136px;
    height: 37px;
    background-color: #6558c3;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    color: white;
    align-items: baseline;
}

.card {
    width: 36 0px;
    height: 80px;
    display: grid;
    grid-template-columns: 172px 156px;
    gap: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-image img {
    width: 80%;
    height: 80px;
    margin: auto;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.card-details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
}

.card-details a {
    text-decoration: none;
    color: #6558c3;
    font-size: 14px;
}

.card-details p {
    text-decoration: none;
    color: #777;
    font-size: 14px;
}

.card-details p,
.card-details a,
.card-details h4{
    margin: 0 0 12px 0;
}