@keyframes hidemessage {
  to {
    top: -50px;
    opacity: 0;
  }
}

.messages {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 345px;
  text-align: center;
  align-items: center;
  height: 85px;
  color: white;
  font-weight: bold;
  top: 20px;
  border-radius: 4px;
  right: 20px;
  opacity: 1;
  animation: hidemessage 0.4s 5s ease-out forwards;
}

.messages.error {
  background-color: #dc4747;
}

.messages.success {
  background-color: #01b12a;
}
