@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}
html,
body {
    min-height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 940px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  padding-top: 20px;
  height: 80px;
  box-sizing: border-box;
}
header .logo {
  display: flex;
  margin: 0;
}
header .logo a {
  width: 100%;
  height: 100%;
}
header .logo a img{
  align-self: baseline;
}
header .menu {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu ul {
  display: flex;
  justify-content: space-between;

}
header .menu ul li {
  display: flex;
  list-style-type: none;
  justify-content: center;
 

}
header .menu ul li a {
  color: black;
  padding: 16px;
  text-decoration: none;
  align-self: baseline;
}

header .menu ul li a:hover {
  color: #af3618;
}
header form.search input{
  height: 37px;
  width: 246px;
  padding: 0 8px;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

header form.search button{
  width: 90px;
  height: 37px;
  border-radius: 4px;
  background-color: #6558c3;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.container .infos {
  background-color: #fbdfdb;
  width: 100%;
  height: 366px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.infos .recipes-infos {
  width: 316px;
  margin: 0 auto;
}

.infos .recipes-infos h1 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.infos .recipes-infos p {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  text-align: start;
}
.wrapper h1 {
  margin-bottom: 20px;
  text-align: center;
}
.wrapper {
  margin: 0;
}

section.recipes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

section.recipes .recipe {
  cursor: pointer;
}

section.recipes .recipe .recipe-info h2:hover {
  color: #af3618;
}

section.recipes .recipe img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}

section.recipes .recipe .recipe-info {
  text-align: start;
  margin-bottom: 10px;
}
section.recipes .recipe .recipe-info h2 {
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  margin-bottom: 5px;
}

section.recipes .recipe .recipe-info p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
footer {
  width: 100%;
  height: 62px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
footer p {
  font-size: 14px;
  color: #999999;
}

/* ====SOBRE==== */

section.about {
  width: 100%;
}

section.about h1 {
  font-size: 24px;
  color: #111111;
  margin-bottom: 20px;
  text-align: start;
}

section.about p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
}

/* SINGLE RECIPE */
section.recipe-section{
  width: 100%;
}
.single-recipe {
  text-align: left;
  position: relative;
}
.single-recipe .header {
  text-align: center;
}

.single-recipe .header .gallery .highlight img {
  width: 100%;
  height: 280px;
  border-radius: 15px;
  object-fit: contain;
}
.single-recipe .header .gallery .gallery-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.single-recipe .header .gallery .gallery-preview img{
  width: 50px;
  height: 50px;
  margin: 0;
  object-fit: contain;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s;
}

.single-recipe .header .gallery .gallery-preview img:hover,
.single-recipe .header .gallery .gallery-preview img.active {
    opacity: 1;
}

.single-recipe h1 {
  padding: 10px;
  margin-top: 40px;
}
.single-recipe .header p {
  color: #777;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}
.single-recipe .title {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.single-recipe .title h2 {
  margin: 0;
}
.single-recipe .title a {
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}

.single-recipe .recipe-data {
  margin: 20px 0;
  display: none;
}
.single-recipe .recipe-data.show {
  display: block;
}
.single-recipe .recipe-data ul {
  padding: 0 0 0 20px;
}
.single-recipe .recipe-data ul li {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
}
.single-recipe .recipe-data p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
}
.search-title{
  text-align: left;
  margin: 0 0 36px 0;
}

