@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.container {
  width: 90%;
  max-width: 940px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  padding-top: 20px;
}
header .logo {
  margin: 0;
}
header .menu {
  margin-left: 120px;
}

header .menu a {
  text-decoration: none;
  color: black;
  padding: 16px;
}

header .menu a:hover {
  color: #af3618;
}
.container .infos {
  background-color: #fbdfdb;
  width: 100%;
  height: 366px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.infos .recipes-infos {
  width: 316px;
  margin: 0 auto;
}

.infos .recipes-infos h1 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.infos .recipes-infos p {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  text-align: start;
}
.wrapper h1 {
  margin-bottom: 20px;
  text-align: start;
}
.wrapper {
  margin: 0;
}
section.recipes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

section.recipes .recipe {
  cursor: pointer;
}

section.recipes .recipe .recipe-info h2:hover {
  color: #af3618;
}

section.recipes .recipe img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}

section.recipes .recipe .recipe-info {
  text-align: start;
  margin-bottom: 10px;
}
section.recipes .recipe .recipe-info h2 {
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  margin-bottom: 5px;
}

section.recipes .recipe .recipe-info p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
footer {
  width: 100%;
  height: 62px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
footer p {
  font-size: 14px;
  color: #999999;
}

/* ====SOBRE==== */

section.about {
  width: 100%;
}

section.about h1 {
  font-size: 24px;
  color: #111111;
  margin-bottom: 20px;
  text-align: start;
}

section.about p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
}

/* SINGLE RECIPE */

.single-recipe {
  text-align: left;
  position: relative;
}
.single-recipe .header {
  text-align: center;
}

.single-recipe img {
  width: 100%;
  border-radius: 15px;
}
.single-recipe h1 {
  padding: 10px;
  margin-top: 40px;
}
.single-recipe .header p {
  color: #777;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}
.single-recipe .title {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.single-recipe .title h2 {
  margin: 0;
}
.single-recipe .title a {
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}

.single-recipe .recipe-data {
  margin: 20px 0;
  display: none;
}
.single-recipe .recipe-data.show {
  display: block;
}
.single-recipe .recipe-data ul {
  padding: 0 0 0 20px;
}
.single-recipe .recipe-data ul li {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
}
.single-recipe .recipe-data p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
}
