{% extends 'layout.html' %}
{% block content %}
    <section class="recipe-section">
        <div class="single-recipe">
            <div class="header">
                <div class="gallery">
                    <div class="highlight">
                        {% if not files[0] %}
                            <img src="http://placehold.it/500x500?text=produto sem foto" alt="">
                            {%else%}
                            <img src="{{files[0].path_file}}">
                        {% endif %}
                    </div>
                    <div class="gallery-preview">
                        {% for image in files %}
                            <img src="{{image.path_file}}"{% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)">
                        {% endfor %}
                    </div>
                </div>
                <h1>{{item.title}}</h1>
                <p>por
                    {{item.name}}</p>
            </div>
            <div class="title">
                <h2>Ingredients</h2>
                <a class='toggle'>MOSTRAR</a>
            </div>
            <div class="recipe-data">
                <ul>
                    {% for ingredient in item.ingredients %}
                        <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="title">
                <h2>Modo de preparo</h2>
                <a class='toggle'>MOSTRAR</a>
            </div>
            <div class="recipe-data">
                {% for step in item.preparation %}
                    <p>{{step}}</p>
                {% endfor %}
            </div>
            {% if item.information %}
                <div class="title">
                    <h2>Informações Adicionais</h2>
                    <a class='toggle'>MOSTRAR</a>
                </div>
                <div class="recipe-data">
                    <p>{{item.information}}</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
