{% extends 'admin.html' %}
{% block content %}
    <form class="form" action='/admin/recipes' method='POST' enctype="multipart/form-data">
        <section class="form-details">
            <h1>Criando receita</h1>
            <button type="submit">Salvar receita</button>
        </section>
        <section class="form-fields">
            {%include 'admin/recipes/fields.html'%}
        </section>
    </form>

{% endblock content %}

{% block script %}
<script src="/script.js"></script>
{% endblock script %}