{% extends 'admin.html' %}
{% block title %}
    <title>Gerenciador de receitas</title>
{% endblock %}
{% block content %}
    <div class="title-admin">
            <h2>Receitas</h2>
            <a href="./recipes/create">Nova</a>
        </div>
    <section class="main-recipes">
        {% for item in items %}
            <div class="recipe-card">
                <div class="recipe-card-image">
                    <img src="{{item.path}}"/>
                </div>
                <div class="recipe-card-details">
                    <h4>{{item.title}}</h4>
                    <p>{{item.chef_name}}</p>
                    <a href="/admin/recipes/{{item.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}